.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.form {
  background-color: black;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.title {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
  color: white;
}

.input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
  background-color: black;
  color: white;
}

.button {
  background-color: grey;
  color: white;
  border: none;
  padding: 0.75rem;
  width: 100%;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #0059c1;
  }
}

.error {
  color: red;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  text-align: center;
}
