@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.button {
  @include para1;
  padding: 1rem 1.2rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: $primary-color;
  color: white;

  &:hover {
    background-color: darken($primary-color, 7%);
  }

  &:disabled {
    // background-color: #d6d6d6;
    cursor: not-allowed;
    opacity: 0.5;

    :global(html.dark) & {
      // background-color: $primary-color;
      opacity: 0.5;
    }
  }
}
