@import "../../styles/mixins.scss";

.ChatFlow {
  flex: 1;
  overflow-y: auto;

  &_content {
    width: 70%;
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &_chat_wrapper {
    display: flex;
    flex-direction: column;
  }
}

@include respond-to("lg") {
  .ChatFlow {
  &_content {
    width: 100%;
    padding: 0 2rem;
  }
  }
}