
// color
$primary-color: #9249e7;
$primary-hover-color: rgba(146, 73, 231, 0.1);
$dark-primary-hover-color: #3a3a3a;
$active-color: rgba(146, 73, 231, 0.1);
$secondary-color: #854fee;
$light-grey-color: rgb(145, 145, 145);
$light-bg-color: #fbfbfb;
$dark-bg-color: #212121;

$gradient: linear-gradient(90deg, rgba(133,79,238,1) 10%, rgba(68,88,220,1) 100%);

// Font
$primary-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

// size
$content-width: 140rem;
 
$breakpoints: (
  "xs": 480px,
  "sm": 600px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px
);
