@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.DisplayHumanMessage {
  @include para1;
  padding: 1rem 1.6rem;
  line-height: 1.8;
  border-radius: 0.8rem;
  align-self: flex-end;
  max-width: 60rem;
  height: fit-content;
  background-color: #eaeaea;

  :global(html.dark) & {
    background-color: #363636;
  }
}

@include respond-to("md") {
  .DisplayHumanMessage {
    max-width: 50rem;
  }
}

@include respond-to("sm") {
  .DisplayHumanMessage {
    max-width: 30rem;
  }
}