@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.textarea {
  @include para1;
  width: 100%;
  padding: 1rem;
  // border: 1px solid red;
  font-size: 1.6rem;
  line-height: 1.4;
  border-radius: 0.5rem;
  // border: 1px solid #ccc;
  resize: none;
  transition: height 0.1s ease; // Faster transition for smoother feel
  box-sizing: border-box;
  outline: none;
  border: none;
  background-color: transparent;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  overflow-y: hidden;
  overflow-x: hidden;
  
  word-wrap: break-word;
  white-space: pre-wrap;

  &::placeholder {
    color: #999;
    opacity: 1; // Firefox fix
  }
}