@import "../../styles/mixins.scss";

.AuthFormLayout {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &_form_wrapper {
    border-radius: 0.3rem;
    max-width: 45rem;
    width: 100%;
    padding: 3rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
  }

  &_form_head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  &_app_name {
    @include para1;
    font-size: 2.2rem;
    font-weight: 600;
  }

  &_description {
    @include para1;
    font-size: 1.4rem !important;
  }
}

@include respond-to("sm") {
  .AuthFormLayout {
    &_form_wrapper {
      box-shadow: none;
    }
  }
}
